h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:35px;
    font-style:italic;
    color: orange; 
    margin-left: 32.5%;
    
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:35px;
    font-style:italic;
    margin-left: 32.5%;
}
 
p{
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    margin-left:25%;
    font-weight: bold;
}

ul{
    font-size:14px;
    font-family:'Times New Roman', Times, serif;
    margin-left:75%;

}

ol{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    margin-left:10%;
}